@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    color: #FFF;
    background-color: #01080e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
}

.container {
    text-align: center;
}

.coffee {
    width: 50px;
}

.subtitle {
    padding: 10px;
    width: 100px;
}

.progress-bar {
	margin: auto;
	position: relative;
	height: 10px;
	width: 20vw;
	background: #353535;
	border-radius: 25px;
}

.progress-fill {
	position: absolute;
	height: 10px;
	width: 50%;
	background: white;
	border-radius: 15px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #01080e;
    padding: 10px 0;
	position: fixed;
	bottom: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
	.title {
		margin-left: 0px;
		font-size: 12px;
		max-width: 200px;
	}

	.coffee {
		padding: 0 10px;
	}
}